<?php
return [
    'runtime' => 'development', // 运行环境，development 为开发环境，test 为测试环境，product 为生产环境
    'api_path' => '/Api',
    'db' => [ // 数据库配置
        'dbms' => 'mysql',
        'host' => '127.0.0.1',
        'port' => '3306',
        'user' => 'root',
        'password' => '123456',
        'dbname' => 'sampledb',
    ],
    'second_db' => [
        'dbms' => 'mysql',
        'host' => '127.0.0.1',
        'port' => '3306',
        'user' => 'root',
        'password' => '123456',
        'dbname' => 'jol',
    ],
    'di_config' => [ // PHP-DI 定义配置，可以是定义文件名，也可以是定义文件名数组
        __DIR__ . '/di_config.php',
    ],
    'debug' => true, // 是否开启 debug，开启 debug 后，可以在提交中带有 debug 参数，返回的数据中将有 debug 项
    'cross_domain' => [
        'enable' => true,
        'domain' => '*',
        'methods' => 'POST, GET, OPTIONS, PUT, DELETE',
        'headers' => 'x-requested-with, content-type, debug',
    ]
];
