<?php

use function DI\factory;
use Lib\Core\DB;
use Lib\Core\ErrorCode;

return [
    'db' => factory(function () {
        return new DB();
    }),
    DB::class => factory(function () {
        return new DB();
    })->scope('prototype'),
    'second_db' => factory(function () {
        return new DB(CONFIG['second_db']);
    })->scope('prototype'),
    ErrorCode::class => function () {
        return new ErrorCode(CONFIG['language']);
    },
];
